name: diff

on:
  pull_request:

permissions:
  contents: write
  pull-requests: write
  issues: write

jobs:
  manifests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup yq
        uses: fluxcd/pkg/actions/yq@main
      - name: Setup kustomize
        uses: fluxcd/pkg/actions/kustomize@main
      - name: Validate manifests
        run: ./scripts/diff.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
